<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">My Chat Application</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/subject']">Subject</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/student']">Student</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/faculty']">Faculty</a></li>
      </ul>
    </div>
  </div>
</nav>
